body {
    font-family: Arial, Helvetica, sans-serif;
}

#board {
    display: grid;
    grid-template-columns: 4em 4em 4em;
    gap: 2px;
}

.field {
    aspect-ratio: 1 / 1;
    font-size: 250%;
    font-weight: bold;
}